<#assign ELEMENT_LOADED=0>
<#list SEGMENT?replace(" ","")?split("|") as CURRENT_SEGMENT>
	<#if ELEMENT_LOADED=0>
		<#data CAMPAIGN_SETTINGS as CAMPAIGN_SETTINGS>
			<#filter SETTINGS_CAMPAIGN=CAMPAIGN SETTINGS_MARKET=MARKET SETTINGS_SEGMENT=CURRENT_SEGMENT>
			<#fields SETTINGS_PREHEADER>
			<p>${CAMPAIGN_SETTINGS.SETTINGS_PREHEADER?exec}</p>
			<#assign ELEMENT_LOADED=1>
		</#data>
	</#if>
</#list>
<hr>

<#data CAMPAIGN_HEADER as CAMPAIGN_HEADER>
	<#filter HEADER_MARKET=MARKET>
	<#fields HEADER_UNSUBSCRIBE_TEXT HEADER_WEBVERSION_TEXT HEADER_LOGO_TEXT HEADER_LOGO_URL HEADER_FLIGHT_TEXT HEADER_FLIGHT_URL HEADER_HOTEL_TEXT HEADER_HOTEL_URL HEADER_CAR_TEXT HEADER_CAR_URL HEADER_FLIGHT_HOTELS_TEXT HEADER_FLIGHT_HOTELS_URL HEADER_DESTINATIONS_TEXT HEADER_DESTINATIONS_URL>

<ul>

	<li><a href="${clickthrough('HEADER_LOGO', 'URL='+CAMPAIGN_HEADER.HEADER_LOGO_URL)}" target="_blank" title="${CAMPAIGN_HEADER.HEADER_LOGO_TEXT}">[LOGO IMAGE]</a></li>

	<li><a href="${clickthrough('UNSUBSCRIBE')}" target="_blank" title="${CAMPAIGN_HEADER.HEADER_UNSUBSCRIBE_TEXT}">${CAMPAIGN_HEADER.HEADER_UNSUBSCRIBE_TEXT}</a></li>

	<li><a href="${clickthrough('WEBVERSION')}" target="_blank" title="${CAMPAIGN_HEADER.HEADER_WEBVERSION_TEXT}">${CAMPAIGN_HEADER.HEADER_WEBVERSION_TEXT}</a></li>

	<li><a href="${clickthrough('HEADER_FLIGHT', 'URL='+CAMPAIGN_HEADER.HEADER_FLIGHT_URL)}" target="_blank" title="${CAMPAIGN_HEADER.HEADER_FLIGHT_TEXT}">${CAMPAIGN_HEADER.HEADER_FLIGHT_TEXT}</a></li>

	<li><a href="${clickthrough('HEADER_HOTEL', 'URL='+CAMPAIGN_HEADER.HEADER_HOTEL_URL)}" target="_blank" title="${CAMPAIGN_HEADER.HEADER_HOTEL_TEXT}">${CAMPAIGN_HEADER.HEADER_HOTEL_TEXT}</a></li>

	<li><a href="${clickthrough('HEADER_CAR', 'URL='+CAMPAIGN_HEADER.HEADER_CAR_URL)}" target="_blank" title="${CAMPAIGN_HEADER.HEADER_CAR_TEXT}">${CAMPAIGN_HEADER.HEADER_CAR_TEXT}</a></li>

	<li><a href="${clickthrough('HEADER_FLIGHT_HOTELS', 'URL='+CAMPAIGN_HEADER.HEADER_FLIGHT_HOTELS_URL)}" target="_blank" title="${CAMPAIGN_HEADER.HEADER_FLIGHT_HOTELS_TEXT}">${CAMPAIGN_HEADER.HEADER_FLIGHT_HOTELS_TEXT}</a></li>

	<li><a href="${clickthrough('HEADER_DESTINATIONS', 'URL='+CAMPAIGN_HEADER.HEADER_DESTINATIONS_URL)}" target="_blank" title="${CAMPAIGN_HEADER.HEADER_DESTINATIONS_TEXT}">${CAMPAIGN_HEADER.HEADER_DESTINATIONS_TEXT}</a></li>

</ul>

</#data>

<hr>

<ul>
<li><b>${CONTACT.FIRSTNAME} ${CONTACT.LASTNAME}</b></li>
<li>Preferred airport: ${CONTACT.PREFERRED_AIRPORT}</li>
<#if CONTACT.REWARD_YN = 'Y'>
<li>Reward number: ${CONTACT.REWARD_NUMBER?c}</li>
<#else>
<li><a href="https://www.norwegian.com/ssl/dk/mine-rejser/#/profile/create" target="_blank">Sign up for Norwegian Reward</a></li>
</#if>
</ul>

<hr>