<!-- footer start -->
<footer class="page-footer ">
    <div class="grid">
        <h2>Helpful information</h2>
        <hr>
        <div class="row">
            <div class="col-4--lg">
                

<h3 class="heading4">Escape with us</h3>
<ul class="list  list--reset">
<li style="display: list-item;"><a href="https://www.norwegian.com/uk/destinations/">Where we fly</a></li>
<li style="display: list-item;"><a href="https://www.norwegian.com/uk/booking/flight-tickets/low-fare-calendar/">Low fare calendar</a></li>
<li style="display: list-item;"><a href="https://www.norwegian.com/uk/about/newsletter/">Sign up for deals</a></li>
<li style="display: list-item;"><a href="https://en.norwegianreward.com/giftcard?utm_source=norwegian&amp;utm_medium=reward-landingpage&amp;utm_campaign=become-member-short" target="_blank">Gift card</a></li>
</ul>
<h3 class="heading4">On the move</h3>
<ul class="list&quot; list  list--reset">
<li style="display: list-item;"><a href="https://www.norwegian.com/uk/my-travels/">My travels</a></li>
<li style="display: list-item;"><a title="Flight status" href="https://www.norwegian.com/uk/flight-status/">Flight status</a></li>
<li style="display: list-item;"><a href="https://www.norwegian.com/uk/travel-info/check-in-and-boarding/online-check-in/">Online check-in</a></li>
</ul>
            </div>
            <div class="col-4--lg">
                

<h3 class="heading4">Customer service</h3>
<ul class="list  list--reset">
<li style="display: list-item;"><a href="https://www.norwegian.com/uk/help-contact/">Help and contact</a></li>
<li style="display: list-item;"><a href="https://www.norwegian.com/uk/travel-info/special-needs-assistance/">Special assistance</a></li>
<li style="display: list-item;"><a href="https://www.norwegian.com/uk/travel-info/baggage/">Baggage charges</a></li>
<li style="display: list-item;"><a href="https://www.norwegian.com/uk/booking/booking-information/optional-charges/">Optional service charges</a></li>
<li style="display: list-item;"><a href="https://www.norwegian.com/uk/help-contact/enable-accessibility-mode/">Accessibility mode</a></li>
</ul>
<h3 class="heading4">Terms and conditions</h3>
<ul class="list  list--reset">
<li style="display: list-item;"><a href="https://www.norwegian.com/uk/booking/booking-information/legal/terms-of-use/">Terms of use</a></li>
<li style="display: list-item;"><a href="https://www.norwegian.com/uk/booking/booking-information/legal/general-conditions-of-carriage/">General Conditions of Carriage</a></li>
<li style="display: list-item;"><a href="https://www.norwegian.com/uk/booking/booking-information/legal/privacy-policy/">Privacy policy</a></li>
<li style="display: list-item;"><a href="https://www.norwegian.com/uk/booking/booking-information/legal/cookies/">Cookies</a></li>
</ul>
            </div>
            <div class="col-4--lg">
                

<h3 class="heading4">Find out more</h3>
<ul class="list  list--reset">
<li style="display: list-item;"><a href="https://www.norwegian.com/uk/about/">About Norwegian</a></li>
<li style="display: list-item;"><a href="https://www.norwegian.com/uk/about/press-and-media/">Media</a></li>
<li style="display: list-item;"><a href="https://www.norwegian.com/uk/about/company/investor-relations/">Investor relations</a></li>
</ul>
                
<h3 class="heading4">Language</h3>
 
<div class="select">
    <label for="selectLanguage">Choose your language</label>
    <br />
    <select id="selectLanguage" name="selectLanguage" onchange="NasPlainSwitchLanguageController.switchLanguage(this.value)">
                <option value="www.norwegian.no">Norge (Norsk)</option>
                <option value="/se/">Sverige (Svenska)</option>
                <option value="/dk/">Danmark (Dansk)</option>
                <option value="/fi/">Suomi (Suomeksi)</option>
                <option selected="selected" value="/uk/">UK (English)</option>
                <option value="/us/">USA (English)</option>
                <option value="/en/">Other countries (English)</option>
                <option value="/de/">Deutschland (Deutsch)</option>
                <option value="/fr/">France (Fran&#231;ais)</option>
                <option value="/es/">Espa&#241;a (Castellano)</option>
                <option value="/pl/">Polska (Polski)</option>
                <option value="/nl/">Nederland (English)</option>
    </select>
</div>
  

            </div>
        </div>
        <div class="row feature">
            <div class="col-12--lg">
                <hr>
                                    <ul class="page-footer__social list list--icon-list list--icon-list--horizontal">
                            <li><a href="https://www.facebook.com/norwegian.com" target="_blank">
    <i role="presentation" class="icon-medium icon-medium--facebook"></i> Facebook
</a>

</li>
                            <li><a href="https://twitter.com/#!/Fly_Norwegian" target="_blank">
    <i role="presentation" class="icon-medium icon-medium--twitter"></i> Twitter
</a>

</li>
                            <li><a href="https://instagram.com/flynorwegian/" target="_blank">
    <i role="presentation" class="icon-medium icon-medium--instagram"></i> Instagram
</a>

</li>
                            <li><a href="https://www.youtube.com/user/norwegian" target="_blank">
    <i role="presentation" class="icon-medium icon-medium--youtube"></i> YouTube
</a>

</li>
                    </ul>
                <button type="button" class="button  button--large  button--right" onclick="NasPlainScrollToController.scrollTo()" >To the top<i class="icon-small  icon-small--arrow-up"></i></button>
            </div>
        </div>
            <div class="row  feature">
                <section class="col-12--lg">
                    <p>© 2016&nbsp;Norwegian Air Shuttle ASA. Please note that this is a Norwegian retail site, hence Norwegian legislation and rules apply to any fees and/or charges.</p>
                </section>
            </div>
    </div>
</footer>

    </main>
    <script src="https://www.norwegian.com/Scripts/plain/plainPageController.js?v=Lj8-qSSqxvXW-zGUBXcpdQkIuQ2zekRGzpStgrA1cjo1"></script>
	<script src="https://www.norwegian.com/ClientResources/app.js?v=leVFmmxFPupHB8KTGcemAANCSo1pJSc_aCFZ8eCWMro1"></script>
    
	
	<!-- Adform Tracking Code BEGIN -->
	<script type="text/javascript" src="https://track.adform.net/serving/scripts/trackpoint/"></script>
	<script type = "text/javascript">
		//<![CDATA[
		if(typeof(Adform) != 'undefined' && typeof(Adform.Tracking) != 'undefined' && typeof(adf) != 'undefined'){
		Adform.Tracking.Params.PageName = encodeURIComponent('uk|Landings|happy-birthday');
		Adform.Tracking.Params.Divider = encodeURIComponent('|');
		Adform.Tracking.Track(41128);}
		//]]>
	</script>
	<noscript>
		<p style="margin:0;padding:0;border:0;"><img src="https://track.adform.net/serving/scripts/trackpoint/?pm=41128&amp;ADFPageName=uk|Landings|happy-birthday&amp;ADFdivider=|" width="1" height="1" alt="" /></p>
	</noscript>
	<!-- Adform Tracking Code END -->
<!-- footer end -->
</body>
</html>
